@model IEnumerable<PictureShare.Models.PictureModel>

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <div class="row">
        <form method="get">
            <div class="col-6 mt-5">
                <div class="input-group">
                    <input type="text" name="SearchBy" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="btn-search">
                    <button class="btn btn-dark" type="submit" id="btn-search"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </form>

        <div class="p-2">
            <div class="col-md-3">
                <a asp-route-SortBy="captionAZ" asp-route-SearchBy="@ViewData["Search"]" class="btn btn-dark w-100 mx-2" id="btn-sort-captionAZ">Sort By Caption (A - Z)</a>
            </div>
            <div class="col-md-3">
                <a asp-route-SortBy="captionZA" asp-route-SearchBy="@ViewData["Search"]" class="btn btn-dark w-100 mx-2" id="btn-sort-captionZA">Sort By Caption (Z - A)</a>
            </div>
            <div class="col-md-3">
                <a asp-route-SortBy="userAZ" asp-route-SearchBy="@ViewData["Search"]" class="btn btn-dark w-100 mx-2" id="btn-sort-captionAZ">Sort By User (A - Z)</a>
            </div>
            <div class="col-md-3">
                <a asp-route-SortBy="userAZ" asp-route-SearchBy="@ViewData["Search"]" class="btn btn-dark w-100 mx-2" id="btn-sort-captionAZ">Sort By User (Z - A)</a>
            </div>
        </div>



    </div>

    

    <div class="row">

        @foreach (var picture in Model)
        {
            <div class="col-md-4">
                @*<a asp-action="Details" asp-route-id="@picture.Id">*@
                <div class="item">
                    <div class="polaroid">
                        <img src="@picture.ImagePath">
                        <div class="caption">@picture.Caption</div>
                        <div class="text-muted">@picture.UserEmail</div>

                    </div>
                </div>
                @*</a> |*@
            </div>
        }

    </div>
</div>